<div class="row mt-5">
  <div class="col-md-6">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
      <span class="text-secondary m-2">Belum punya akun?</span> <a routerLink="/auth/register">Register</a>
    </form>
  </div>
</div>
