<!--<h3>Todo Form</h3>-->
<!--<div class="card">-->
<!--  <div class="card-body">-->
<!--    <form action="" [formGroup]="todoForm" (ngSubmit)="onSubmit()">-->
<!--      <div class="input-group mb-3">-->
<!--        <div class="input-group-text">-->
<!--          <input-->
<!--            type="checkbox"-->
<!--            class="form-check-input"-->
<!--            aria-label="Checkbox for following text input"-->
<!--            formControlName="isDone"-->
<!--          >-->
<!--        </div>-->
<!--        <input-->
<!--          type="text"-->
<!--          class="form-control"-->
<!--          placeholder="Todo name"-->
<!--          aria-label="Username"-->
<!--          aria-describedby="basic-addon1"-->
<!--          formControlName="name"-->
<!--        >-->
<!--        <button-->
<!--          class="btn btn-outline-primary"-->
<!--          type="submit"-->
<!--        >-->
<!--          ADD-->
<!--        </button>-->
<!--      </div>-->
<!--    </form>-->
<!--    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="isAdded; else noTodoAdded">-->
<!--      <strong>Hore</strong> {{ message }}-->
<!--      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
<!--    </div>-->

<!--    <ng-template #noTodoAdded>-->
<!--      <div class="alert alert-secondary alert-dismissible fade show" role="alert">-->
<!--        {{ message | uppercase }}-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
<!--      </div>-->
<!--    </ng-template>-->
<!--  </div>-->
<!--</div>-->
